.render-item {

    :global {
        .render-item__item {
            margin-top: 16px;
            border: 1px solid #ccc;
            padding: 8px;
            border-radius: 4px;
        }
        .render-item__value {
            padding-bottom: 8px;
        }
    }
}