.footer-resource-progress {
    display: flex;
    .text {
        flex: 1;
        margin-left: 10px;
        font-size: 12px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
    }
    .ant-progress {
        margin-bottom: 0;
    }
}