@font-face {
  font-family: 'CustomFont';
  src: url('https://micro-class-test-1313601664.cos.ap-beijing.myqcloud.com/music_test/c8d3f43b-fea8-4b15-920f-1b5768dfbe0f.woff') format('woff');
}
@font-face {
  font-family: 'Microsoft Yahei';
  src: url('https://static.speiyou.com/fontspage/kejianfonts/Microsoft_YaHei.woff') format('woff');
}
@font-face {
  font-family: 'Arial';
  src: url('https://static.speiyou.com/fontspage/kejianfonts/Arial.woff') format('woff');
}
