.edit-game-modal {
    // background-color: red;
    height: calc(100vh - 100px);
   :global {
    .ant-modal-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .ant-modal-body {
        height: 100%;
    }
   }
}